@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.about_content {
    margin-bottom: 40%;
}

.about_content h2 {

    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.7em;
    color: rgb(14, 13, 13);
    position: relative;
    top: 1em;
}

.about_content h2 span1 {
    font-size: 1.1em;
    color: rgb(245, 35, 87);
}


.text1 {

   margin-left: 6rem;
    right: 40rem;
    top: 14rem;
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    word-spacing: 10px;
    line-height: 36px;
    color: rgb(56, 47, 47);
}


.text1 span {
    color: rgb(245, 35, 87);
    font-weight: 800;
    text-align: justify;
    font-size: 1.1em;
}

.text1 p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    text-align: justify;
}

.text1 a {
    background: rgb(14, 13, 13);
    padding: 0rem .5rem;
    text-decoration: none;
    font-weight: bold;
    color: rgb(223, 221, 221);
    display: inline-block;
    margin: 2rem 0;
    border-radius: .9em;
    font-size: .6em;
}

.text1 a:hover {
    color: rgb(255, 254, 254);
    background: rgb(245, 35, 87);
}

/* .pic img {
    display: flex;
    height: 380px;
    margin: -36% 69%;
    position: absolute;
   } */



/* Profile Animated Card */

.card {

    position: relative;
    width: 300px;
    height: 150px;
    background: #fff;
    left: 140vh;
    bottom: 65vh;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;


}

.card:hover {
    height: 330px;

}

.imgBx {
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 130px;
    height: 130px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    transition: 0.5s;
}

.card:hover .imgBx {
    height: 190px;
    width: 190px;
}

.imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.card .content .details {
    padding: 30px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(115px);

}

.card:hover .content .details {
    transform: translateY(0);
}

.card .content .details h2 {
    font-size: 1.2em;
    font-weight: 600;
    color: #555;
    line-height: 1em;

}

.card .content .details h2 span {
    font-size: 0.75em;
    font-weight: 540;
    opacity: 0.5;
}

.card .content .details .data {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;

}

.card .content .details h3 {
    font-size: 0.95em;
    color: #555;
    line-height: 1em;
    font-weight: 600;

}

.card .content .details h3 span {
    font-size: 0.9em;
    font-weight: 400;
    opacity: 0.5;

}

.card .content .details .actionBtn {
    display: flex;
    justify-content: space-between;
}

.card .content .details .actionBtn button {
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 0.9em;
    font-weight: 500;
    background: #f83174;
    color: #fff;
    cursor: pointer;
}

.card .content .details .actionBtn button:nth-child(2) {
    border: 1px solid #999;
    color: #999;
    background: #fff;
}